.main{
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.child1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

#inp{
  height: 45px;
  width: 340px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700px;
  border: none;
  outline: none;
  padding-left: 15px;
}

#btn{
  height: 45px;
  width:fit-content;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
}

.child2{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgba(240, 248, 255, 0.568);
  border-radius: 10px;
  column-gap: 8px;
  color: rgba(255, 255, 255, 0.822);
  flex-wrap: wrap;
}

#tempc{
  font-size: 72px;
}
#place{
  font-size: 50px;
}

.child3{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgba(240, 248, 255, 0.568);
  border-radius: 10px;
  column-gap: 10px;
  color: rgba(255, 255, 255, 0.822);
  flex-wrap: wrap;
  row-gap: 8px;
}